footer{
    position: relative;
    /* bottom:0px ; */
    background-color:#232F3E;
    margin-top:80px;
}

.footer_container{
    padding: 100px 50px;
    color: white;
    display: flex;
    flex-direction: row;

}

.footer_container div{
    margin: 20px 50px;
}

.detail_one{

    padding:20px;
}

.detail_one p{
    margin: 20px 0;
}

.detail_one h3{
    
    margin-bottom:10px ;
}

.lastDetails img{
    width: 200px;
    margin:10px 0 0 40vw;
}

.lastDetails{
    color: white;
    display: flex;
    flex-direction: column;
}

.lastDetails p span{
    color: white;
    margin: 0 50px 0 0vw;
    text-align: center;
}

.lastDetails p{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
}
